.profile__foto{
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  align-self: center;
  transition: all .3s ease;
}

@media (max-width: 575px){
  .profile__foto {
    width: 180px;
    height: 180px;
    margin: 0;
  }
}
@media (max-width: 320px){
  .profile__foto {
    width: 125px;
    height: 125px;

  }
}
